section#colour-display {
    font-family: 'Times New Roman', Times, serif;
    margin: 200px auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 30px black;
    padding: 50px;
    border-radius: 5px;
}

section#colour-display h1{
    font-weight: 900;
}

section#colour-display #new-colour-button{
    width: 100%;
    background-color: black;
    color: white; 
    font-weight: 900;
    padding: 15px;
    border: none;
    font-size: 16px;
}